* {
  --imperial-red: #FF4249FF;
  --pumpkin: #FF8438FF;
  --mikado-yellow: #FFC629FF;
  --spring-bud: #91EB00FF;
  --bleu-de-france: #0087DBFF;
  --chrysler-blue: #5D00E0FF;

  --red: #FF2626;
  --green: #26FF26;

  --primary-color: #013DC4;

  font-family: 'Roboto', 'Serif';
}

body {
  margin: 0;
  padding: 40px 6vw 0 6vw;
  /* background-color: #E9E9E9; */
  background-color: #E5F6E5;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.toast-info-icon {
  animation: pop 0.3s ease-in;
}

.border-red {
  /* display: inline-block; */
  border: 2px dashed #FF0000 !important;
}

.loader {
  width: 100%;
  height: 5px;
  overflow: hidden;
  top: 1px;
  position: relative;
}

@keyframes move {
  0% {
    left: -30%;
  }

  100% {
    left: 100%;
  }
}

.loader-bar {
  position: absolute;
  top: 0;
  left: -30%;
  height: 100%;
  width: 30%;
  background-color: var(--primary-color);
  animation: move 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #CCC;
  border-top: 4px solid #3498DB;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.navbar {
  width: 88vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 6vw;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #000000;
}

.nav-brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 500;
  text-decoration: none;
  color: #000000;

  img {
    height: 35px;
    width: 35px;
  }
}

.nav-account {
  position: relative;
  display: inline-block;

  .btn {
    padding: 5px 20px;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: large;

    &:hover,
    &:focus {
      background-color: #CCCCCC;
    }
  }

  img {
    border-radius: 50%;
  }
}

.nav-account-menu {
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  z-index: 1;
  border-radius: 10px;
  box-sizing: border-box;
  /* box-shadow: 0 0 10px 1px #969696CC; */
  border: 1px solid #000000;

  Link {
    display: inline-block;
  }
}

.google-login-btn {
  width: fit-content;
  height: fit-content;
  padding: 12px 16px;

  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 36px;
  cursor: pointer;

  font-size: 20px;
  font-weight: 500;

  img {
    width: 40px;
  }

  &:hover {
    background-color: yellow;
  }
}

.checkbox-img {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.2s ease;

  &:active {
    transform: scale(0.9);
  }
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 6px 12px;
  cursor: pointer;

  &:active .custom-checkbox {
    transform: scale(0.9);
  }

  &:hover {
    background-color: #E2E2E2;
  }
}

input[type="submit"],
button {
  cursor: pointer;
}

.not-btn {
  border: none;
  background: none;
}

.btn-link {
  text-decoration: underline;
  color: -webkit-link;
  font-size: 16px;
  border: none;
  background: none;
  padding: 0;
}

.bg-frost {
  background-color: #FFFFFF10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.left-sidebar {
  max-width: 20%;
}

.friends {
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #000000;

  h3 {
    margin-block-start: 0;
  }
}

.friends>form {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 21.06px;
}

.friend-list,
.group-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

#create-group-btn {
  margin-bottom: 21.06px;
}

.friend-list-item,
.group-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.groups {
  max-width: 100%;
  padding: 20px;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #000000;

  h3 {
    display: inline;
    margin-right: 21.06px;
  }
}

.group-list-item {
  display: flex;
  justify-content: space-between;
}

.create-group-dialog-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4a4a4a36;
}

.create-group-dialog {
  width: max-content;
  height: max-content;
  position: fixed;
  top: 25%;
  left: 35%;
  align-items: center;
  padding: 30px;
  padding-top: 0;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 1px 1px 5px 5px #CECECE;
}

.suggestions-select-all-btn,
.suggestions-clear-btn {
  margin-block: 10px;
}

.close-dialog-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #EBEBEB;
  border-radius: 50%;
  font-size: 15px;

  &:hover,
  &:focus {
    color: var(--red);
  }

  &:active {
    transform: scale(0.9);
  }
}

.dashboard {
  h2 {
    margin-top: 0 !important;
  }
}